# Canonical sshd_config for Linux-server (v4)
Port 22
ListenAddress 0.0.0.0
PermitRootLogin yes  # v6.8: ورود root با پسورد
PubkeyAuthentication yes
PasswordAuthentication yes  # v6.8: برگشت پسورد
KbdInteractiveAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
AllowUsers Hamid root
